<%= form_for :session, url: session_path, :html=>{:class => "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col"} do |form| %>
  <div class="mb-4">
  <div class="text-field">
    <%= form.label :email, {:class=>"block text-grey-darker text-sm font-bold mb-2"} %>
    <%= form.text_field :email, type: 'email', class:"shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
  </div>
<div class="mb-6">
  <div class="password-field">
    <%= form.label :password, class:"block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.password_field :password, class:"shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" %>
  </div>
  </div>

  <div class="flex items-center justify-between" >
    <%= form.submit class:"bg-green-600 hover:bg-green-500 text-white font-bold py-2 px-4 rounded"  %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <div class="block inline-block align-baseline font-bold underline text-sm text-blue-600 hover:text-blue-darker">
      <%= link_to t(".sign_up"), sign_up_path %>
      </div>
    <% end %>
    <div class="block inline-block align-text-bottomalign-baseline font-bold underline text-sm text-blue-600 hover:text-blue-darker">
    <%= link_to t(".forgot_password"), new_password_path %>
    </div>
  </div>
<% end %>
